<!DOCTYPE html>
<html>
	<head>
		<title>Everis DAR</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
<body>
<h1>Junior Academia Everis</h1>
<div class="inicio">
	<h1>TO-DO LIST</h1>
	<div class="top">
	<input type="button" value="New task"  (click)="newTask(newdescription.value)">
	<input type="text" placeholder="New task description" #newdescription>
	</div>
	<div class="container" *ngFor="let q of tasks; index as idx">
		<p>Task id {{q.id}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{q.description}}
			<button mat-raised-button (click)="remove(q.id)" style= "float:right;">
            <mat-icon>delete</mat-icon>
			</button></p>
			
	
		<div class="col-12 row p-0 m-0 mt-2 justify-content-start align-baseline">
            <mat-form-field appearance="fill">
              <mat-select [(value)]="q.taskstatus" [placeholder]="q.taskstatus" (selectionChange)="update(idx)">
                <mat-option *ngFor="let st of status" [value]="st.value">
                  {{st.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
	</div>
</div>
</body>
</html>